.notification {
  &--work {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, .7);
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: all .3s ease;

    .notification__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: size(15px);
      width: size(300px);
      min-height: size(150px);
      background-color: var(--default-white);
      box-shadow: 0px size(5px) size(10px) size(5px) rgba(85, 82, 82, 0.28);
      border-radius: size(8px);
      padding: size(20px);

      @media (max-width: 1919px) {
        width: 300px;
        min-height: 150px;
        box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.28);
        border-radius: 8px;
        row-gap: 15px;
        padding: 20px;
      }
    }

    .notification__text {
      margin: 0;
      text-align: center;
      font-size: size(22px);
      line-height: size(32px);
      font-weight: 600;
      color: var(--default-black);
  
      @media (max-width: 1919px) {
        font-size: 22px;
        line-height: 32px;
      }
    }

    .notification__button {
      background-color: var(--main);
      color: var(--default-white);
      border: solid 1px var(--default-transparent);
    }

    &.notification--close {
      opacity: 0;
      visibility: hidden;
      z-index: -1;
    }
  }

  &--notice {
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 20px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--reset-bg);
    transition: all .3s ease;
    color: var(--default-black);
    z-index: 500;

    &:hover {
      background-color: var(--main);
      color: var(--default-white);

      .notification__text {
        svg {
          color: var(--default-white);
        }
      }
    }

    .notification__text {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      margin: 0;
      font-size: 14px;
      line-height: 16px;

      a {
        height: 18px;
      }

      svg {
        width: 18px;
        height: 18px;
        color: var(--default-black);
        transition: color .3s ease;

        &:hover {
          color: var(--second);
        }
      }
    }
  }
}

[data-theme='dark'] { 
  .notification {
    &--work {
      background-color: rgba(102, 102, 102, 0.7);
      
      .notification__wrapper {
        background-color: var(--main-bg);
      }
      .notification__text {
        color: var(--text-first)
      }
      .notification__button {
        background-color: var(--main-bg);
        color: var(--second);
        border: solid 1px var(--second);

        &:hover,
        &:focus {
          box-shadow: 0px 5px 8px 6px rgb(234 138 50 / 35%);
        }
      }
    }

    &--notice {
      background-color: rgba(102, 102, 102, 0.7);

      .notification__text {
        color: var(--text-first);

        svg {
          color: var(--text-first);

          &:hover {
            color: var(--second);
          }
        }
      }
    }
  }
}