.filter {
  position: relative;
  grid-area: filter;
  color: var(--default-white);

  @media (max-width: 767px) {
    position: static;
  }

  &__wrapper-filters {
    position: relative;
  
    &--open {
      .filter__wrapper {
        display: flex;
      }

      .button {
        &.filters {
          position: absolute;
          background-color: var(--default-white);
          box-shadow: none;
          pointer-events: none;

          @media (max-width: 767px) {
            min-width: 114px;
            padding: 11px 20px;
            left: calc(100vw - 20px);
            transform: translate(-100%, 0);
            z-index: 120;

          }
          
          span,
          svg {
            z-index: 120;
          }

          &:hover {
            cursor: auto;
            background-color: var(--default-white);
            box-shadow: none;
          }
        }
      }

    }
  }

  &__wrapper {
    min-width: size(240px);
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    z-index: 110;
    flex-direction: column;
    align-items: flex-end;
    padding: size(40px) size(16px) size(20px);
    background-color: var(--default-white);
    border-radius: size(8px);
    box-shadow: 0px size(-1px) size(10px) 0px rgba(0, 0, 0, 0.2), 0px size(2px) size(1px) size(-1px) rgb(0 0 0 / 20%), 0px size(1px) size(1px) 0px rgb(0 0 0 / 14%), 0px size(1px) size(3px) 0px rgb(0 0 0 / 12%);
    
    @media (max-width: 1919px) {
      min-width: 240px;
      padding: 40px 16px 20px;
      border-radius: 8px;
      box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2), 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }

    @media (max-width: 424px) {
      width: 100vw;
      border-radius: 0;
      padding: 40px 20px 20px;
      left: -20px;
    }
  }

  &__type-name {
    text-transform: uppercase;
    color: var(--default-black);
    font-weight: 700;
    font-size: size(14px);
    text-align: right;

    @media (max-width: 1919px) {
      font-size: 14px;
    }
  }

  &__type-buttons-list {
    display: flex;
    justify-content: flex-end;
    column-gap: size(10px);
    margin: 0 0 size(15px);

    @media (max-width: 1919px) {
      column-gap: 10px;
      margin: 0 0 15px;
    }
  }

  &__type-button-todo,
  &__type-button-progress,
  &__type-button-done {
    background-color: var(--button-usual);
    border: none;
    outline: none;
    border-radius: size(8px);
    font-weight: 600;
    padding: size(4px) size(8px);
    box-shadow: 0px size(2px) size(1px) size(-1px) rgb(0 0 0 / 20%), 0px size(1px) size(1px) 0px rgb(0 0 0 / 14%), 0px size(1px) size(3px) 0px rgb(0 0 0 / 12%);
    transition: all .3s ease;
    white-space: nowrap;

    @media (max-width: 1919px) {
      border-radius: 8px;
      padding: 4px 8px;
      box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 35%);

      @media (max-width: 1919px) {
        box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 35%);
      }
    }
  }

  &__type-button-todo {
    color: var(--main);
  }

  &__type-button-progress {
    color: var(--second);
  }

  &__type-button-done {
    color: var(--helpfull);
  }

  &__type-button-todo--active,
  &__type-button-progress--active,
  &__type-button-done--active {
    color: var(--button-inactive);
  }

  &__close {
    position: absolute;
    top: 8px;
    left: 16px;
    transition: all .3s ease;
    z-index: 120;
    color: var(--default-black);

    @media (max-width: 1919px) {
      top: size(8px);
      left: size(16px);
    }
    
    &:hover {
      cursor: pointer;
      fill: var(--attention) !important;
    }
  }

  &__reset {
    background-color: rgba(0,150,255,.08);;
    color: var(--main);

    @media (max-width: 767px) {
      align-self: center;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: size(10px);
  top: 0;
  right: 0;

  @media (max-width: 1919px) {
    column-gap: 10px;
  }

  svg {
    width: size(15px);
    height: size(15px);

    @media (max-width: 1919px) {
      width: 15px;
      height: 15px;
    }
  }
}

[data-theme='dark'] { 
  .filter {
    &__reset {
      background-color: rgba(0,150,255,.08);;
      color: var(--main);
    }

    &__wrapper-filters {    
      &--open {
        .button {
          &.filters {
            color: var(--default-black);
            background-color: var(--light-bg);
          }
        }
      }
    }

    &__wrapper {
      background-color: var(--light-bg);
    }
  }

  .filters {
    &:hover,
    &:focus {
      box-shadow: 0px size(5px) size(8px) 0px rgb(234 138 50 / 35%);

      @media (max-width: 1919px) {
        box-shadow: 0px 5px 8px 0px rgb(234 138 50 / 35%);
      }
    }
  }
}