.filter {
  position: relative;
  grid-area: filter;
  color: var(--default-white);

  @media (max-width: 767px) {
    position: static;
  }

  &__wrapper-filters {
    position: relative;
  
    &--open {
      .filter__wrapper {
        display: flex;
      }

      .button {
        &.filters {
          position: absolute;
          background-color: var(--default-white);
          box-shadow: none;
          pointer-events: none;

          @media (max-width: 767px) {
            min-width: 114px;
            padding: 11px 20px;
            left: calc(100vw - 20px);
            transform: translate(-100%, 0);
            z-index: 200;
          }
          
          span,
          svg {
            z-index: 200;
          }

          &:hover {
            cursor: auto;
            background-color: var(--default-white);
            box-shadow: none;
          }
        }
      }

    }
  }

  &__wrapper {
    min-width: 240px;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, 0);
    z-index: 110;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px 16px 20px;
    background-color: var(--default-white);
    border-radius: 8px;
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.2), 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    
    @media (max-width: 424px) {
      width: 100vw;
      border-radius: 0;
      padding: 40px 20px 20px;
      left: -20px;
    }
  }

  &__type-name {
    text-transform: uppercase;
    color: var(--default-black);
    font-weight: 700;
    font-size: 14px;
    text-align: right;
  }

  &__type-buttons-list {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    margin: 0 0 15px;

  }

  &__type-button-todo,
  &__type-button-progress,
  &__type-button-done {
    background-color: var(--button-usual);
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 600;
    padding: 4px 8px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: all .3s ease;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 35%);
    }
  }

  &__type-button-todo {
    color: var(--main);
  }

  &__type-button-progress {
    color: var(--second);
  }

  &__type-button-done {
    color: var(--helpfull);
  }

  &__type-button-todo--active,
  &__type-button-progress--active,
  &__type-button-done--active {
    color: var(--button-inactive);
  }

  &__close {
    position: absolute;
    top: 8px;
    left: 16px;
    transition: all .3s ease;
    z-index: 120;
    color: var(--default-black);
    
    &:hover {
      cursor: pointer;
      fill: var(--attention) !important;
    }
  }

  &__reset {
    background-color: rgba(0,150,255,.08);;
    color: var(--main);

    @media (max-width: 767px) {
      align-self: center;
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  top: 0;
  right: 0;

  svg {
    width: 15px;
    height: 15px;
  }
}

[data-theme='dark'] { 
  .filter {
    &__reset {
      background-color: rgba(0,150,255,.08);;
      color: var(--main);
    }

    &__wrapper-filters {    
      &--open {
        .button {
          &.filters {
            color: var(--default-black);
          }
        }
      }
    }

    &__wrapper {
      background-color: var(--light-bg);
    }
  }

  .filters {
    &:hover {
      box-shadow: 0px 5px 8px 0px rgb(234 138 50 / 35%);
    }
  }
}