.add-item-button {
  display: flex;
  column-gap: 10px;
  min-height: 40px;
  align-items: center;
  position: relative;
  padding: 10px 16px 10px 16px;
  margin: 10px 0 0 0;
  background-color: #004cff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  transition: all .3s ease;
  border-radius: 8px;
  //text-transform: uppercase;
  color: #f8f9fa ; 

  svg {
    width: 20px;
    height: 20px;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 400px;
  }

  &:hover {
    cursor: pointer;
    color:#004cff;
    background-color: #f8f9fa ;
    box-shadow: 0px 5px 8px 0px rgb(0 0 0 / 35%);
    //font-weight: 600;
  }

/*     &:before {
    content: '+';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  } */
}