.load-more-button {
  display: block;
  margin: 20px auto 0;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px 0px rgba(34, 60, 80, 0.43);
  background-color: var(--default-white);
  font-size: 20px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: var(--main);
    color: var(--default-white);
  }
}