.list {
  display: flex;
  flex-direction: column;
  background-color: var(--list-items-bg);
  padding: size(20px);
  border-radius: size(8px);
  height: max-content;

  @media (max-width: 1919px) {
    padding: 20px;
    border-radius: 8px;
  }
}

.type-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: size(20px);
  padding: 0;
  transition: all .3s ease;

  @media (max-width: 1919px) {
    row-gap: 20px;
  }
  
  @media (max-width: 1023px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  @media (max-width: 899px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: size(400px);
    margin: 0 auto;

    @media (max-width: 1919px) {
      width: 370px;
    }

    @media (max-width: 1439px) {
      width: 300px;
    }

    @media (max-width: 1149px) {
      width: 260px;
    }

    @media (max-width: 1023px) {
      width: 100%;
      margin: 0;
    }

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__name-wrapper {
    display: flex;
    column-gap: size(20px);

    @media (max-width: 1919px) {
      column-gap: 20px;
    }
  }

  &__name {
    margin: 0;
    font-size: size(20px);
    color: var(--default-black);

    @media (max-width: 1919px) {
      font-size: 20px;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: size(35px);
    height: size(35px);
    border-radius: 50%;
    background-color: var(--button-darker);
    font-weight: 600;
    font-size: size(20px);

    @media (max-width: 1919px) {
      width: 35px;
      height: 35px;
      font-size: 20px;
    }

    span {
      display: inline-block;
      line-height: size(18px);
      margin: size(-2px) 0 0 size(-1px);

      @media (max-width: 1919px) {
        line-height: 18px;
        margin: -2px 0 0 -1px;
      }
    }
  }

  &__hidden-item {
    display: none;
  }

  &__hidden-item--show {
    display: block;
    width: size(400px);
    height: size(200px);
    background-color: #F1F3F5;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23DEE2E6FF' stroke-width='4' stroke-dasharray='15' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: size(8px);

    @media (max-width: 1919px) {
      width: 370px;
      height: 200px;
      border-radius: 8px;
    }

    @media (max-width: 1439px) {
      width: 300px;
    }

    @media (max-width: 1149px) {
      width: 260px;
    }

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  &__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    width: size(35px);
    height: size(35px);
    border-radius: 50%;
    background-color: var(--button-darker);
    padding: 0;
    color: var(--text-second);
    cursor: pointer;
    transition: color .3s ease;

    @media (max-width: 1919px) {
      width: 35px;
      height: 35px;
    }

    &:hover {
      color: var(--default-black);
    }
  }
}

[data-theme='dark'] { 
  .list {
    //background-color: #3f3f42;
    //border: solid 1px #3f3f4a;
  }

  .type-list {

    &__name {
      color: var(--text-first);
    }
  }
}